/* Action and action group */

div.actions {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff url(../img/gradient20m.png) repeat-x top;
  border: 1px #777 solid;
  color: #000;
  float: left;
  height: 20px;
  line-height: 20px;
  margin: 2px 5px;
  position: relative;
}

div.actions ol {
  list-style: none;
  margin-left: 0px;
}
div.actions ol li {
  float: left;
}

div.actions ol li a {
  display: block;
  border-right: 1px #777 solid;
  line-height: 20px;
  padding: 0px;
  white-space: nowrap;
}
div.actions ol li a span {
  padding: 0px 4px;
}
div.actions ol li.last-action a {
  border-right: 0px;
}

div.actions ol li.last-action a:hover,
div.actions ol li.last-action a.active {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

div.actions ol li a.inactive {
  color: #999;
}

div.actions ol li a.active,
div.actions ol li a:hover {
  border-color: #888;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  border-radius: 0;
}

div.actions ol li a.active, div.actions ol li a:hover {
  background-color: #EAEAEA;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#FFF)); 
  background-image: -moz-linear-gradient(top,  #EAEAEA,  #FFF); 
  background-image: -o-linear-gradient(top,  #EAEAEA,  #FFFF); 
  background-image: -ms-linear-gradient(top,  #EAEAEA,  #FFF); 
  background-image: -moz-linear-gradient(top,  #EAEAEA,  #FFF); 
  background-image: linear-gradient(top,  #EAEAEA,  #FFF); 
  color: #111;
}

div.actions .dropdown {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
  border-radius: 3px;
    -webkit-box-shadow: #A0A0A0 0px 2px 8px;
    -moz-box-shadow: #A0A0A0 0px 2px 8px;
  box-shadow: #A0A0A0 0px 2px 8px;
  position: absolute;
  background: #fff;
  border: 1px #999 solid;
  display: none;
  z-index: 50;
  top: 22px
}

div.actions .dropdown li {
  float: none;
}
/* The two next rules are to prevent an box computation issue (bug ?) in browsers */
div.actions .dropdown li div.action-icon {
  margin-right: -20px;
}
div.actions .dropdown li span.have-icon {
  margin-left: 20px;
}
div.actions .dropdown ol li a:hover {
  background: url('../img/gradient-tab-selected.png') repeat-x;
  color: white !important;
  text-shadow: #373737 1px 1px 1px;
}

div.actions div.dropdown-icon {
  float: right;
  border-left: 1px #999 dotted;
  margin: 0px 0px 0px 2px;
  padding: 2px 2px 2px 0px;
}

div.actions div.action-icon {
  padding: 2px 0px 2px 4px;
  float: left;
}
