form {
  color: black;
}

.form-head h3, .form-head h4 {
  background-color: #efefef;
  border-bottom: 1px solid #ddd;
}

.form-head h3 {
  background-image: url('../img/gradientblack.png');
  color: #fff;
  font-weight: normal;
  padding: 6px 10px 6px 10px;
  font-size: 130%;
}

.form-head h4 {
  padding: 5px;
  font-size: 120%;
}

.form-section, .form-head, .form-footer {
  background-image: url('../img/workspace_bg.png');
  background-repeat: repeat;
}

.form-section {
  padding: 10px;
  border-bottom: 1px dotted #ccc;
}

.form-section p {
  font-style: italic;
}

.form-section .form-label label {
  font-weight: bold;
  font-size: 105%;
}

.form-section .form-label {
  margin-bottom: 10px;
}

.form-controls {
  border-bottom: 2px solid #eee;
  padding: 10px 20px 10px 10px;
  text-align: right;
}

.form-required {
  position: relative;
  top: -3px;
  display: inline-block;
  background-color: #DE2A2A;
  font-size: 9px; /* fixed, prevent to grow with % on parent */
  text-transform: uppercase;
  padding: 2px;
  margin-left: 5px;
  color: white;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.form-focus {
  background-image: none;
  border-left: 2px solid #0E7F2A;
  padding-left: 20px;
  font-size: 105%;
  background-color: #D8EED5;
}

.form-table {
  padding: 10px;
}