form {
  color: black;
}

.forms {
  position: absolute;
  top: 0;
  left: 0;
  right: 250px;
  border-right: 1px dotted #ccc;
}

.form-content h3,
.form-content h4,
.form-content h5 {
  background-color: #efefef;
  border-bottom: 1px solid #ddd;
}
.form-content .form-head p {
  border-left: 2px solid #ccc;
  padding: 10px;
}

#workspace .form-content h3 {
  background-image: url('../img/gradientblack.png');
  color: #fff;
  font-weight: normal;
  padding: 6px 10px 6px 10px;
  font-size: 130%;
}

#workspace .form-content h4 {
  padding: 5px;
  font-size: 120%;
}

#workspace .form-content h5 {
  padding: 5px;
  font-size: 110%;
}

#workspace .form-content {
  background-image: url('../img/workspace_bg.png');
  background-repeat: repeat;
}

.form-content .form-section,
.form-content .form-table {
  padding: 10px;
  border-left: 2px solid #ccc;
  border-bottom: 1px dotted #ccc;
}

#workspace .form-content .form-table th,
#workspace .form-content .form-table td {
  text-align: left;
  padding: 5px;
  border-right: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
}

.form-content .form-section p {
  font-style: italic;
}

.form-content .form-section .form-label label {
  font-weight: bold;
  font-size: 105%;
}

.form-content .form-section .form-label {
  margin-bottom: 10px;
}

.form-content .form-required,
.form-content .form-acquirable {
  position: relative;
  top: -3px;
  display: inline-block;
  background-color: #DE2A2A;
  font-size: 9px; /* fixed, prevent to grow with % on parent */
  text-transform: uppercase;
  padding: 2px;
  margin-left: 5px;
  color: white;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.form-content .form-acquirable {
  background-color: #FF8C00;
}
.form-content .form-focus {
  background-image: none !important;
  background-color: #D8EED5 !important;
  border-left: 2px solid #0E7F2A;
}

.form-content .form-field {
  position: relative;
}

.form-content .form-error {
  background-image: none !important;
  background-color: #EFAAAA !important;
  border-left: 2px solid #DE2A2A;
}

.form-content .form-error-detail {
  z-index: 150;
  position: absolute;
  top: -0.5em;
  right: 5px;
  width: 300px;
  background-image: url('../img/workspace_bg.png');
  background-repeat: repeat;
  padding: 4px;
  margin: 2px 0px;
  border: 2px solid #DE2A2A;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#workspace .form-content .form-controls {
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #eee;
  padding: 10px 20px 40px 10px;
}
#workspace .form-table .form-controls td {
  padding: 10px 20px 10px 10px;
}

.form-content a.form-control,
.form-content a.form-button {
  -khtml-border-radius:3px;
  -moz-border-radius:3px;
  -ms-border-radius:3px;
  -o-border-radius:3px;
  -webkit-border-radius:3px;
  background:#fff url(../img/gradient20m.png) repeat-x top;
  border-radius:3px;
  border:1px #777 solid;
  display:block;
  color: #000;
  line-height:17px;
  margin:5px 2px;
  padding:0 4px;
  float: left;
}

.form-content a.form-control ins,
.form-content a.form-button ins {
  float: left;
}

.form-content a.form-control:hover,
.form-content a.form-button:hover {
  background:#fff;
  border-color:#888;
  color:#222;
}

/* Portlets */

.portlets {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  bottom: 0px;
}

.portlets p {
  padding: 5px;
}

/* Image information orientation */

.portlets p span.orientation {
  display: block;
  margin-top: 0.3em;
  border: 1px dotted black;
  text-align: center;
}
.portlets p span.portrait {
  width: 4.5em;
  height: 6em;
}
.portlets p span.landscape {
  width: 6.5em;
  height: 3.5em;
}
.portlets p span.square {
  width: 4em;
  height: 4em;
}
