* { cursor:default; -webkit-tap-highlight-color: rgba(0,0,0,0); }

html {
  background:#7996ac;
  overflow:hidden;
}

a {
  text-decoration:none;
  cursor:pointer;
  color:inherit;
}

a ins {
  cursor:pointer;
}

input, textarea {
  cursor: text;
}

#loading-message {
  display: none;
  padding: 2px 0px;
  position: fixed;
  right: 50%;
  top: 0px;
  z-index: 200;
}

#content-url {
  display: none;
}

#notifications {
  position: absolute;
  top: 50px;
  right: 40px;
  width: 250px;
  background: transparent;
  z-index: 15000;
}
#notifications .notification {
  -khtml-box-shadow:#1c2e3d 0 3px 10px;
  -moz-box-shadow:#1c2e3d 0 3px 10px;
  -ms-box-shadow:#1c2e3d 0 3px 10px;
  -o-box-shadow:#1c2e3d 0 3px 10px;
  -webkit-box-shadow:#1c2e3d 0 3px 10px;
  background-image: url("../img/workspace_bg.png");
  background-repeat: repeat;
  color: black;
  border: 2px solid #08000;
  box-shadow:#1c2e3d 0 3px 10px;
  margin:10px;
  padding:5px;
}
#notifications .error {
  color: #b22222;
  border: 2px solid #b22222;
}
#notifications .notification h3 {
  margin-bottom:3px;
}
#notifications .notification a {
  font-size:85%;
}
#notifications .notification ins {
  float: left;
}

#main {
  position:absolute;
  top:20px;
  bottom:20px;
  left:20px;
  right:20px;
}

#workspace {
  -khtml-box-shadow:#1c2e3d 0 3px 10px;
  -moz-box-shadow:#1c2e3d 0 3px 10px;
  -ms-box-shadow:#1c2e3d 0 3px 10px;
  -o-box-shadow:#1c2e3d 0 3px 10px;
  -webkit-box-shadow:#1c2e3d 0 3px 10px;
  background:#fff;
  bottom:0px;
  box-shadow:#1c2e3d 0 3px 10px;
  left:300px;
  position:absolute;
  right:0px;
  top:0px;
}

.focus.highlight {
  outline: 2px #fb0 solid;
}


.message ins.ui-icon {
  float: left;
}
#workspace .header {
  background: url(../img/gradient50.png) repeat-x bottom;
  border-bottom: 1px #999 solid;
  color: #111;
  height: 64px;
  line-height: 24px;
  padding: 0 10px 35px 10px;
}
#workspace .header a {
  color:#111;
}
#workspace .header h2 {
  clear: both;
  font-size:1.3em;
  padding: 8px 0px 8px 0px;
  height:24px;
  overflow:hidden;
  white-space:nowrap;
}
#workspace .header h2 ins.icon {
  background-color:transparent;
  background-image:url(../img/sprite.png);
  background-repeat:no-repeat;
  display:block;
  float:left;
  height:20px;
  margin-right:4px;
  width:20px;
}

#workspace .header .tabs {
  float:left;
  list-style:none;
  margin:0;
  padding:0;
}

#workspace .header .tabs li {
  display:block;
  float:left;
}

#workspace .header .tabs li div.inner {
  border-radius:0 0 3px 3px;
  box-shadow: inset 0 0 2px #aaa;
  -khtml-border-radius:0 0 3px 3px;
  -khtml-box-shadow:inset 0 0 2px #aaa;
  -moz-border-radius:0 0 3px 3px;
  -moz-box-shadow:inset 0 0 2px #aaa;
  -ms-border-radius:0 0 3px 3px;
  -ms-box-shadow:inset 0 0 2px #aaa;
  -o-border-radius:0 0 3px 3px;
  -o-box-shadow:inset 0 0 2px #aaa;
  -webkit-border-radius:0 0 3px 3px;
  -webkit-box-shadow:inset 0 0 2px #aaa;
  position: relative;
  background:url('../img/gradient-tab.png') repeat-x;
  color:#222;
  display:block;
  height:26px;
  line-height:25px;
  margin-right: 10px;
  border: 1px solid #555;
  border-top: 0;
}

#workspace .header .tabs li div.outer {
  position: relative;
}

#workspace .header .tabs li div.inner a {
  display: block;
  height: 26px;
  line-height: 25px;
  padding: 0px 10px 0px 10px;
}

#workspace .header .tabs li.openable div.inner a {
  border-right: 1px solid #555;
}

#workspace .header .tabs li div.inner a.active {
  background:url('../img/gradient-tab-selected.png') repeat-x;
  color: white;
  text-shadow: #373737 1px 1px 1px;
  font-weight: bold;
}

#workspace .header .tabs li.openable div.inner {
  padding-right: 25px;
}

#workspace .header .tabs li ins {
  background: url('../img/arrow-down.png') no-repeat;
  background-position: 0px 0px;
  position: absolute;
  right: 0px;
  display: block;
  height: 25px;
  width: 25px;
}

#workspace .header .tabs li div.inner ins:hover,
#workspace .header .tabs li div.inner ins.active {
  cursor: pointer;
}

#workspace .header .tabs ol.subtabs {
  -khtml-border-radius:3px 3px 3px 3px;
  -moz-border-radius:3px 3px 3px 3px;
  -ms-border-radius:3px 3px 3px 3px;
  -o-border-radius:3px 3px 3px 3px;
  -webkit-border-radius:3px 3px 3px 3px;
  position:absolute;
  width: 200px;
  top: 32px;
  left: 0px;
  display:block;
  background:#fff;
  border-radius:3px 3px 3px 3px;
  border:1px #ddd solid;
  margin-left: 0px;
  display: none;
  z-index: 100;
}

#workspace .header .tabs .subtabs li {
  background: #fff;
  float: none;
}
#workspace .header .tabs .subtabs li {
  background-image: none;
  border: 0;
}

#workspace .header .tabs .subtabs li a,
#workspace .header .tabs .subtabs li a:hover {
  display: block;
  height: auto;
  border: none;
  padding: 0px 5px;
  box-shadow: none;
  -khtml-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
}

#workspace .header .tabs .subtabs li a:hover {
  background-color: #eee;
}

#workspace .header .view-actions {
  float:right;
}
#workspace .header .admin-actions {
  margin: 5px 10px 0px 0px;
}
#workspace .header .admin-actions li a {
  padding: 2px 2px;
}

/* Main working content space */
#workspace .content {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  overflow-y: auto;
}

/*
 * Portait mode for iPad removes tree
 */
@media screen and (orientation: portrait) {
  #navigation { display:none; }
  #workspace { left:0; }
}

/*
 * Sprite icons
 */

ins.icon {
  width:20px;
  height:20px;
  display:block;
  float:left;
  background-image:url(../img/sprite.png);
}

ins.loading {
  background:#fff url(../img/loading.gif) no-repeat center center!important;
}


/* Silva Content Types - uses !important to override default jstree-icon */
ins.agenda_filter { background-position:-60px -80px!important; }
ins.agenda_viewer { background-position:-80px -80px!important; }
ins.autotoc { background-position:-100px -80px!important; }
ins.category_filter { background-position:-160px -80px!important; }
ins.csvsource { background-position:-40px -120px!important; }
ins.link { background-position:-120px -80px!important; }
ins.news_filter { background-position:-60px -100px!important; }
ins.news_source { background-position:-160px -100px!important; }
ins.news_viewer { background-position:-80px -100px!important; }
ins.rss_aggregator { background-position:-100px -120px!important; }
ins.silvadocument { background-position:-0px -100px!important; }
ins.silvafile { background-position:-80px -120px!important; }
ins.silvafind { background-position:-140px -80px!important; }
ins.silvafolder { background-position:-20px -100px!important; }
ins.silvaghost { background-position:-0px -120px!important; }
ins.silvaghostfolder { background-position:-20px -120px!important; }
ins.silvaimage { background-position:-40px -100px!important; }
ins.silvaindexer { background-position:-120px -120px!important; }
ins.silvalogo { background-position:-160px -60px!important; }
ins.silvapublication { background-position:-20px -80px!important; }
ins.software_group { background-position:-140px -120px!important; }
ins.software_package { background-position:-120px -100px!important; }
ins.software_release { background-position:-140px -100px!important; }

/* Silva publication states */
ins.state { width:10px!important; height:10px!important; }
ins.state.draft { background-position:-5px -145px; }
ins.state.pending { background-position:-25px -145px; }
ins.state.approved { background-position:-45px -145px; }
ins.state.published { background-position:-65px -145px; }
ins.state.closed { background-position:-85px -145px; }

/*
 * jsTree theme
 */
.jstree li,
.jstree ins { background-image:url(../img/sprite.png); background-repeat:no-repeat; background-color:transparent; }
.jstree li { background-position:-180px 0; background-repeat:repeat-y; }
.jstree li.jstree-last { background:transparent; }
.jstree > ul > li.jstree-open > ins { background-position:-120px 0!important; }
.jstree > ul > li.jstree-closed > ins { background-position:-100px 0!important; }
.jstree .jstree-open > ins { background-position:-80px 0; cursor:pointer; }
.jstree .jstree-closed > ins { background-position:-60px 0; cursor:pointer; }
.jstree .jstree-leaf > ins { background-position:-140px 0; }

.jstree .jstree-hovered { background:#d2e5f9; }
.jstree .jstree-clicked { font-weight:bold; }
.jstree a ins.jstree-icon { background-position:-160px 0; }
.jstree a.jstree-loading .icon { background:url("../img/loading.gif") center center no-repeat!important; }

.jstree .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree .jstree-checked > a > .jstree-checkbox { background-position:-20px -60px; }
.jstree .jstree-unchecked > a > .jstree-checkbox { background-position:0 -60px; }
.jstree .jstree-undetermined > a > .jstree-checkbox { background-position:-40px -60px; }
.jstree .jstree-checked > a > .jstree-checkbox:hover { background-position:-20px -60px; }
.jstree .jstree-unchecked > a > .jstree-checkbox:hover { background-position:0 -60px; }
.jstree .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-40px -60px; }

/* jquery ui overrides */

body .ui-state-default,
body .ui-state-active {
  background: inherit;
  color: inherit;
  border: inherit;
}

body .ui-widget {
  font-family: sans-serif;
  font-size: inherit;
}

body .ui-widget .ui-button-text {
  line-height: inherit;
}

body .upload-file .upload-progress {
  width: 200px;
  height: 10px;
}
