* { cursor:default; -webkit-tap-highlight-color: rgba(0,0,0,0); }

#loading-message {
  -khtml-box-shadow:#ccc 0 0 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-box-shadow:#CCC 0 0 3px;
  -ms-box-shadow:#CCC 0 0 3px;
  -o-box-shadow:#CCC 0 0 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-box-shadow:#ccc 0 0 3px;
  background: url("../img/gradient25.png") repeat-x;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 1px solid #FEFEFE;
  border-left: 1px solid #FEFEFE;
  border-right: 1px solid #FEFEFE;
  box-shadow:#CCC 0 0 3px;
  color: #000;
  display: none;
  padding: 2px 15px;
  position: fixed;
  right: 50%;
  top: 0px;
  z-index: 200000;
}

html { background:#577086 url(../img/bg.png) repeat-x top; overflow:hidden; }
a { text-decoration:none; cursor:pointer; color:inherit; }
a ins { cursor:pointer; margin:0 2px 0 0; }
a.button {
  display:block; float:left; border:1px #999 solid;
  line-height:20px; margin-left:5px; padding:0 6px;
  background:#eee url(../img/gradient25.png) repeat-x top;
  -khtml-border-radius:3px; -moz-border-radius:3px;
  -ms-border-radius:3px; -o-border-radius:3px;
  -webkit-border-radius:3px; border-radius:3px;
}
a.button:hover { background-image:url(../img/gradient20m.png); color:#222; }
a.button:active { background-image:url(../img/gradient25.png); }
a.button ins { margin-left:-3px; }

input, textarea { cursor:text; }

.loading { background:#fff url(../img/loading.gif) no-repeat center center!important; }

#overlay { position:absolute; top:0; bottom:0; left:0; right:0; z-index:100; background:url(../img/overlay.png); }
#dialog {
  position:absolute; top:50%; left:50%; height:250px; width:400px; background:#fff;
  -khtml-border-radius:5px; -moz-border-radius:5px;
  -ms-border-radius:5px; -o-border-radius:5px;
  -webkit-border-radius:5px; border-radius:5px;
  -khtml-box-shadow:#333 0 0 3px; -moz-box-shadow:#333 0 0 3px;
  -ms-box-shadow:#333 0 0 3px; -o-box-shadow:#333 0 0 3px;
  -webkit-box-shadow:#333 0 0 3px; box-shadow:#333 0 0 3px;
}
#dialog h2 { margin:8px; }
#dialog p { margin:8px; }
#dialog input { margin:2px 0;}
#dialog_actions { position:absolute; bottom:0; left:0; right:0; height:22px; padding:5px; }
#dialog_actions div.actions_left { float:left; }
#dialog_actions div.actions_right { float:right; }

#content-url {
  display: none;
}

#notifications {
  position:absolute; bottom:50px; right:40px;
  width:300px; background:#666;
  -khtml-border-radius:10px; -moz-border-radius:10px;
  -ms-border-radius:10px; -o-border-radius:10px;
  -webkit-border-radius:10px; border-radius:10px;
}
.notification {
  margin:10px; background:#fff; padding:8px;
  -khtml-border-radius:2px; -moz-border-radius:2px;
  -ms-border-radius:2px; -o-border-radius:2px;
  -webkit-border-radius:2px; border-radius:2px;
}
.notification h3 { margin-bottom:3px; }
.notification a { font-size:85%; }

#header {
  height:60px;
  overflow:hidden;
}
#header h1 {
  width:280px;
  height:50px;
  line-height:50px;
  overflow:hidden;
  float:left;
  margin:7px 20px;
  font-size:2em;
}
#header h1 a img {
  cursor: pointer;
}
#header ol { float:right; list-style:none; margin:0 20px; line-height:22px; }
#header ol li { float:left; }
#header ol li a {
  display:block; margin:18px 0 0 10px; padding:2px 15px;
  background:#fff url(../img/gradient25.png) repeat-x bottom; color:#222;
  -khtml-border-radius:5px; -moz-border-radius:5px;
  -ms-border-radius:5px; -o-border-radius:5px;
  -webkit-border-radius:5px; border-radius:5px;
  -khtml-box-shadow:#1c2e3d 0 1px 4px; -moz-box-shadow:#1c2e3d 0 1px 4px;
  -ms-box-shadow:#1c2e3d 0 1px 4px; -o-box-shadow:#1c2e3d 0 1px 4px;
  -webkit-box-shadow:#1c2e3d 0 1px 4px; box-shadow:#1c2e3d 0 1px 4px;
}
#header ol li a:hover { color:#000; border-color:#555; }
#main { position:absolute; top:65px; bottom:20px; left:20px; right:20px; }

#navigation {
  position:absolute; top:0; bottom:0; left:0; width:280px; background:#fff;
  -khtml-box-shadow:#1c2e3d 0 3px 10px; -moz-box-shadow:#1c2e3d 0 3px 10px;
  -ms-box-shadow:#1c2e3d 0 3px 10px; -o-box-shadow:#1c2e3d 0 3px 10px;
  -webkit-box-shadow:#1c2e3d 0 3px 10px; box-shadow:#1c2e3d 0 3px 10px;
}
#navigation h2 {
  height:30px; line-height:30px;
  background:#a3d042 url(../img/green30.png) repeat-x bottom;
  color:#fff; padding:0 8px; text-shadow:#305c00 1px 1px 0;
}

#workspace {
  position:absolute; top:0px; bottom:0px; left:300px; right:0px; background:#fff;
  -khtml-box-shadow:#1c2e3d 0 3px 10px; -moz-box-shadow:#1c2e3d 0 3px 10px;
  -ms-box-shadow:#1c2e3d 0 3px 10px; -o-box-shadow:#1c2e3d 0 3px 10px;
  -webkit-box-shadow:#1c2e3d 0 3px 10px; box-shadow:#1c2e3d 0 3px 10px;
}

#navigation .focus .highlight,
#workspace.focus.highlight {
  outline: 2px #fb0 solid;
}

#navigation .tree {
  position:absolute;
  top:30px;
  bottom:0;
  left:0;
  right:0;
  overflow:auto;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
}

#navigation .tree ul {
  list-style:none;
  margin:0;
  padding:3px 0 3px 3px;
  width:999px;
}

#navigation .tree ul li a {
  display:block;
  height:20px;
  line-height:20px;
  color:#111;
  padding:0;
}

#navigation .tree ins {
  float:left;
  width:20px;
  height:20px;
}

@-moz-document url-prefix() {
  #navigation .tree {
    overflow-x:auto;
  }
  #navigation .tree ul {
    width:auto;
  }
}

#workspace .info {
  background:url(../img/gradient50.png) repeat-x bottom;
  border-bottom:1px #999 solid;
  color:#111;
  height:49px;
  line-height:24px;
  overflow:hidden;
  padding:10px;
}
#workspace .info a {
  color:#111;
}
#workspace .info h3 {
  font-size:1.3em;
  height:24px;
  margin-bottom:5px;
  overflow:hidden;
  white-space:nowrap;
}
#workspace .info h3 ins.icon {
  background-color:transparent;
  background-image:url(../img/sprite.png);
  background-repeat:no-repeat;
  display:block;
  float:left;
  height:20px;
  margin-right:4px;
  width:20px;
}

#workspace .info .tabs {
  float:left;
  list-style:none;
  margin:0;
  padding:0;
  position:absolute;
  z-index:99;
}
#workspace .info .tabs li {
  display:block;
  float:left;
}
#workspace .info .tabs li a {
  color:#222;
  display:block;
  height:27px;
  line-height:26px;
  margin-top:4px;
  padding:0 11px;
}
#workspace .info .tabs li a:hover {
  text-decoration:underline;
}
#workspace .info .tabs li a.active {
  -khtml-border-radius:3px 3px 0 0;
  -moz-border-radius:3px 3px 0 0;
  -ms-border-radius:3px 3px 0 0;
  -o-border-radius:3px 3px 0 0;
  -webkit-border-radius:3px 3px 0 0;
  background:#fff;
  border-bottom:0;
  border-radius:3px 3px 0 0;
  border:1px #999 solid;
  height:25px;
  line-height:24px;
  padding:0 10px;
  text-decoration:none;
}

#workspace .info .actions {
  float:right;
  list-style:none;
  margin:0;
  padding:0;
}
#workspace .info .actions li {
  float:left;
  margin-left:8px;
}
#workspace .info .actions li a {
  -khtml-border-radius:5px;
  -khtml-box-shadow:0 0 2px #aaa;
  -moz-border-radius:5px;
  -moz-box-shadow:0 0 2px #aaa;
  -ms-border-radius:5px;
  -ms-box-shadow:0 0 2px #aaa;
  -o-border-radius:5px;
  -o-box-shadow:0 0 2px #aaa;
  -webkit-border-radius:5px;
  -webkit-box-shadow:0 0 2px #aaa;
  background:#fff; color:#222;
  border-radius:5px;
  border:1px #999 solid;
  box-shadow:0 0 2px #aaa;
  display:block;
  line-height:22px;
  padding:0 8px;
}
#workspace .info .actions li a:hover {
  background:#fff url(../img/gradient25.png) repeat-x bottom;
  border-color:#555;
}

#workspace .content table {
  width:100%;
  border-collapse:collapse;
}
#workspace .content td,
#workspace .content th {
  padding:0 10px 0 0;
  line-height:22px;
  text-align:left;
  white-space:nowrap;
  overflow:hidden;
}
#workspace .content th.centered,
#workspace .content td.centered {
  text-align:center;
}
#workspace .content th.dragHandle {
  background-image:url(../img/sprite.png);
  background-position:-101px -59px;
}
#workspace .content th.col_title {
  padding-left:15px;
}

#workspace .content td.dragHandle {
  cursor:move;
  padding:0 8px;
  width:20px;
}
#workspace .content td.dragHandle ins {
  display:block;
  float:left;
  width:20px;
  height:20px;
  margin:1px 0;
  background-image:url(../img/sprite.png);
  cursor:move;
}
#workspace .content td ins.state {
  background-image:url(../img/sprite.png);
  display:block;
  float:left;
  margin-right:5px;
  margin-top:6px;
}

/* Table listing */
#workspace .content .header {
  background:#eee url(../img/gradient25.png) repeat-x bottom;
  border-bottom:1px #999 solid;
  height:24px;
  overflow:hidden;
  padding-right:17px;
}
#workspace .content .header th {
  line-height:24px;
}

#workspace .content .listing dt {
  padding-left: 24px;
  line-height: 24px;
  border-bottom: 1px solid #999999;
}
#workspace .content .listing dt h4{
  padding-left: 12px;
}
#workspace .content .listing dt ins {
  width:20px;
  height:20px;
  display:block;
  float:left;
  margin-right: 4px;
  background-image:url(../img/sprite.png);
  background-position:-120px -140px;
}
#workspace .content .listing dt.collapsed ins {
  background-position:-100px -140px;
}

#workspace .content .listing dd.collapsed {
  display: none;
}

#workspace .content .listing {
  -ms-overflow-x:hidden;
  bottom:25px;
  left:0;
  overflow-x:hidden;
  overflow:scroll;
  position:absolute;
  right:0;
  top:95px;
}
#workspace .content .listing .static tr.even {
  background-color:#f3f7fb;
}
#workspace .content .listing .static tr.hover {
  background-color:#d2e5f9;
}
#workspace .content .listing .static tr.selected {
  background-color:#4d96e6;
  color:#fff;
}
#workspace .content .listing .static tr.selected.hover {
  background-color:#5fa2ea;
}
#workspace .content .listing .static tr:active {
  background-color:#4d96e6!important;
  color:#fff;
}
#workspace .content .listing .dragging {
  background-color:#4d96e6!important;
  color:#fff;
}

/* Table listing footer */
#workspace .content .footer {
  background:#fff url(../img/gradient25.png) repeat-x top;
  border-top:1px #999 solid;
  bottom:0;
  color:#333;
  font-size:0.8em;
  height:25px;
  left:0;
  line-height:25px;
  overflow:hidden;
  position:absolute;
  right:0;
}
#workspace .content .footer div.left {
  float:left;
}
#workspace .content .footer div.right {
  float:right;
}
#workspace .content .footer .selector {
  margin:2px 7px;
}
#workspace .content .footer a {
  -khtml-border-radius:3px;
  -moz-border-radius:3px;
  -ms-border-radius:3px;
  -o-border-radius:3px;
  -webkit-border-radius:3px;
  background:#fff url(../img/gradient20m.png) repeat-x top;
  border-radius:3px;
  border:1px #777 solid;
  display:block;
  float:left;
  line-height:17px;
  margin:3px 2px;
  padding:0 4px;
}
#workspace .content .footer a:hover {
  background:#fff;
  border-color:#888;
  color:#222;
}
#workspace .content .footer a.disabled {
  background:#fff url(../img/gradient20m.png) repeat-x top;
  border-color:#ccc;
  color:#999;
  cursor:default;
}
#workspace .content .footer a.hidden {
  display:none;
}

#workspace .content-area {
  position:absolute; top:70px; bottom:0; left:0; right:0; overflow:hidden;
}

/*
 * Portait mode for iPad removes tree
 */
@media screen and (orientation: portrait) {
  #navigation { display:none; }
  #workspace { left:0; }
}

/*
 * Sprite icons
 */
ins.icon { width:20px; height:20px; display:block; float:left; background-image:url(../img/sprite.png); }

ins.arrow.up { background-position:-0px -20px; }
ins.arrow.down { background-position:-20px -20px; }
ins.arrow.left { background-position:-40px -20px; }
ins.arrow.right { background-position:-60px -20px; }
ins.arrow.top { background-position:-80px -20px; }
ins.arrow.bottom { background-position:-1000px -20px; }
ins.arrow.first { background-position:-120px -20px; }
ins.arrow.last { background-position:-140px -20px; }
ins.arrow.reload { background-position:-160px -20px; }

ins.action.confirm { background-position:-0px -40px; }
ins.action.cancel { background-position:-20px -40px; }
ins.action.add { background-position:-40px -40px; }
ins.action.remove { background-position:-60px -40px; }
ins.action.plus { background-position:-80px -40px; }
ins.action.minus { background-position:-100px -40px; }

ins.sort.asc { background-position:-120px -40px; }
ins.sort.desc { background-position:-140px -40px; }

ins.checkbox.none { background-position:-0px -60px; }
ins.checkbox.single { background-position:-40px -60px; }
ins.checkbox.partial { background-position:-40px -60px; }
ins.checkbox.all { background-position:-20px -60px; }
ins.checkbox.disabled { background-position:-60px -60px; }

/* Silva Content Types - uses !important to override default jstree-icon */
ins.agenda_filter { background-position:-60px -80px!important; }
ins.agenda_viewer { background-position:-80px -80px!important; }
ins.autotoc { background-position:-100px -80px!important; }
ins.category_filter { background-position:-160px -80px!important; }
ins.csvsource { background-position:-40px -120px!important; }
ins.link { background-position:-120px -80px!important; }
ins.news_filter { background-position:-60px -100px!important; }
ins.news_source { background-position:-160px -100px!important; }
ins.news_viewer { background-position:-80px -100px!important; }
ins.rss_aggregator { background-position:-100px -120px!important; }
ins.silvadoc { background-position:-0px -100px!important; }
ins.silvafile { background-position:-80px -120px!important; }
ins.silvafind { background-position:-140px -80px!important; }
ins.silvafolder { background-position:-20px -100px!important; }
ins.silvaghost { background-position:-0px -120px!important; }
ins.silvaghost_folder { background-position:-20px -120px!important; }
ins.silvaimage { background-position:-40px -100px!important; }
ins.silvaindexer { background-position:-120px -120px!important; }
ins.silvalogo { background-position:-160px -60px!important; }
ins.silvapublication { background-position:-20px -80px!important; }
ins.software_group { background-position:-140px -120px!important; }
ins.software_package { background-position:-120px -100px!important; }
ins.software_release { background-position:-140px -100px!important; }

/* Silva publication states */
ins.state { width:10px!important; height:10px!important; }
ins.state.draft { background-position:-5px -145px; }
ins.state.pending { background-position:-25px -145px; }
ins.state.approved { background-position:-45px -145px; }
ins.state.published { background-position:-65px -145px; }
ins.state.expired { background-position:-85px -145px; }

/*
 * jsTree theme
 */
.jstree li,
.jstree ins { background-image:url(../img/sprite.png); background-repeat:no-repeat; background-color:transparent; }
.jstree li { background-position:-180px 0; background-repeat:repeat-y; }
.jstree li.jstree-last { background:transparent; }
.jstree > ul > li.jstree-open > ins { background-position:-120px 0!important; }
.jstree > ul > li.jstree-closed > ins { background-position:-100px 0!important; }
.jstree .jstree-open > ins { background-position:-80px 0; cursor:pointer; }
.jstree .jstree-closed > ins { background-position:-60px 0; cursor:pointer; }
.jstree .jstree-leaf > ins { background-position:-140px 0; }

.jstree .jstree-hovered { background:#d2e5f9; }
.jstree .jstree-clicked { font-weight:bold; }
.jstree a ins.jstree-icon { background-position:-160px 0; }
.jstree a.jstree-loading .icon { background:url("../img/loading.gif") center center no-repeat!important; }

.jstree .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree .jstree-checked > a > .jstree-checkbox { background-position:-20px -60px; }
.jstree .jstree-unchecked > a > .jstree-checkbox { background-position:0 -60px; }
.jstree .jstree-undetermined > a > .jstree-checkbox { background-position:-40px -60px; }
.jstree .jstree-checked > a > .jstree-checkbox:hover { background-position:-20px -60px; }
.jstree .jstree-unchecked > a > .jstree-checkbox:hover { background-position:0 -60px; }
.jstree .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-40px -60px; }

.jstree li, .jstree ins,
#vakata-dragged.jstree .jstree-invalid,
#vakata-dragged.jstree .jstree-ok,
#jstree-marker.jstree { _background-image:url(../img/sprite.png); }
.jstree .jstree-open ins { _background-position:-80px 0; }
.jstree .jstree-closed ins { _background-position:-60px 0; }
.jstree .jstree-leaf ins { _background-position:-140px 0; }
.jstree a ins.jstree-icon { _background-position:-60px -20px; }
#vakata-contextmenu.jstree-context ins { _display:none; }
#vakata-contextmenu.jstree-context li { _zoom:1; }
.jstree .jstree-undetermined a .jstree-checkbox { _background-position:-40px -60px; }
.jstree .jstree-checked a .jstree-checkbox { _background-position:-20px -60px; }
.jstree .jstree-unchecked a .jstree-checkbox { _background-position:0 -60px; }
